<p>
  <b>Nome:</b>
  <%=h @unidade.nome %>
</p>

<p>
  <b>Logradouro:</b>
  <%=h @unidade.logradouro %>
</p>

<p>
  <b>Compl:</b>
  <%=h @unidade.compl %>
</p>

<p>
  <b>Cep:</b>
  <%=h @unidade.cep %>
</p>

<p>
  <b>Tel:</b>
  <%=h @unidade.tel %>
</p>

<p>
  <b>Email:</b>
  <%=h @unidade.email %>
</p>

<p>
  <b>Horaatendimento:</b>
  <%=h @unidade.horaatendimento %>
</p>

<p>
  <b>Obs:</b>
  <%=h @unidade.obs %>
</p>

<p>
  <b>Visivel:</b>
  <%=h @unidade.visivel %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @unidade.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @unidade.longitude %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @unidade.empresa_id %>
</p>

<p>
  <b>Tplogradouro:</b>
  <%=h @unidade.tplogradouro_id %>
</p>

<p>
  <b>Macro:</b>
  <%=h @unidade.macro %>
</p>


<%= link_to 'Edit', edit_unidade_path(@unidade) %> |
<%= link_to 'Back', unidades_path %>