<h1>Listing acessos</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>

<% @acessos.each do |acesso| %>
  <tr>
    <td><%=h acesso.nome %></td>
    <td><%= link_to 'Show', acesso %></td>
    <td><%= link_to 'Edit', edit_acesso_path(acesso) %></td>
    <td><%= link_to 'Destroy', acesso, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New acesso', new_acesso_path %>