<h1>Listing micros</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Nomeseo</th>
    <th>Ordem</th>
    <th>Visivel</th>
    <th>Macro</th>
  </tr>

<% @micros.each do |micro| %>
  <tr>
    <td><%=h micro.nome %></td>
    <td><%=h micro.nomeseo %></td>
    <td><%=h micro.ordem %></td>
    <td><%=h micro.visivel %></td>
    <td><%=h micro.macro_id %></td>
    <td><%= link_to 'Show', micro %></td>
    <td><%= link_to 'Edit', edit_micro_path(micro) %></td>
    <td><%= link_to 'Destroy', micro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New micro', new_micro_path %>