<h1>Editing acesso_unidade</h1>

<% form_for(@acesso_unidade) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :unidade_id %><br />
    <%= f.text_field :unidade_id %>
  </p>
  <p>
    <%= f.label :acesso_id %><br />
    <%= f.text_field :acesso_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @acesso_unidade %> |
<%= link_to 'Back', acesso_unidades_path %>