<h1>New tplogradouro</h1>

<% form_for(@tplogradouro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :abrev %><br />
    <%= f.text_field :abrev %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tplogradouros_path %>