<p>
  <b>Nome:</b>
  <%=h @empresa.nome %>
</p>

<p>
  <b>Fanta:</b>
  <%=h @empresa.fanta %>
</p>

<p>
  <b>Cnpj:</b>
  <%=h @empresa.cnpj %>
</p>

<p>
  <b>Ie:</b>
  <%=h @empresa.ie %>
</p>

<p>
  <b>Logop:</b>
  <%=h @empresa.logop %>
</p>

<p>
  <b>Logog:</b>
  <%=h @empresa.logog %>
</p>

<p>
  <b>Site:</b>
  <%=h @empresa.site %>
</p>

<p>
  <b>Pchave:</b>
  <%=h @empresa.pchave %>
</p>


<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>